<figure class="op-tracker">
    <iframe hidden>
        <script>
            {% autoescape false %}

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            {# as PHP's json_encode() supports primitives, these will always be a valid JS literal #}
            ga('create', {{ account|json_encode }}, 'auto');
            ga('require', 'displayfeatures');
            ga('set', 'campaignSource', {{ campaign.source|json_encode }});
            ga('set', 'campaignMedium', {{ campaign.medium|json_encode }});
            ga('set', 'campaignName', {{ campaign.name|json_encode }});
            ga('send', 'pageview', {title: {{ title|json_encode }} });

            {% endautoescape %}
        </script>
    </iframe>
</figure>