{% set classes = [
'region-full-content',
'region-newsletter',
'region-newsletter--horizontal',
'no-horizontal-padding',
'hidden',
] %}

{% set use_ajax_permissions = use_ajax_permissions | default('true') %}
{% set external_permission_url = external_permission_url | default('/newsletter-datenschutzeinwilligung') %}

<div {{ attributes.addClass(classes) }}
        data-view-type="newsletterView"
        data-newsletter-group-id="{{ groupId }}"
        data-use-ajax-permissions="{{ use_ajax_permissions }}"
        >

    <div class="container-content">

        {% block container_form %}
            <form class="container-form container-content-item container-content-item--centered" novalidate>
                <div class="content-wrapper">

                    {% block logo_block %}{% endblock %}

                    {% block container_form__headline %}
                        <div class="newsletter__title">{{ headline }}</div>
                    {% endblock %}

                    {% block container_form__description %}
                        <p class="text-description">{{ text|plain_text|trim }}</p>
                    {% endblock %}

                    {% block groups_block %}{% endblock %}

                    {% block container_form__form_groups %}
                        <div class="form-group form-group--email">
                            {% block container_form__input_email %}
                                <input class="input-lg input-email" type="email" name="email" required
                                       placeholder="Deine E-Mail-Adresse">
                            {% endblock %}
                            {% block container_form__submit_email %}
                            <button type="submit" class="btn--large">Anmelden</button>
                            {% endblock %}
                        </div>

                        <div class="form-group form-group--agreements">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="agreements[]" value="datenschutzeinwilligung">
                                    Ich willige widerruflich ein, dass bestimmte Unternehmen von Hubert Burda Media
                                    Daten
                                    über mich und meine Verträge, Gewinnspiele, Newsletter, Internetnutzung sowie von
                                    mir gemachte Angaben erheben,
                                    zusammenführen, speichern und für individuelle Informationsangebote und Werbezwecke
                                    nutzen. Alle Details

                                    {% if use_ajax_permissions == 'true' %}
                                        <a href="#" class="privacy-link">hier</a>.
                                    {% else %}
                                        <a href="{{ external_permission_url }}" target="_blank" rel="nofollow"
                                           class="privacy-link">hier</a>.
                                    {% endif %}
                                </label>
                            </div>
                        </div>
                    {% endblock %}

                    {% block container_form__alerts %}
                        <div class="container-alerts"></div>
                    {% endblock %}
                </div>
            </form>
        {% endblock %}

        {% block container_success %}
            <div class="container-success container-content-item container-content-item--centered">
                <div class="content-wrapper">
                    {% block container_success__headline %}
                        <div class="text-headline ">{{ confirmation_headline }}</div>
                    {% endblock %}
                    {% block container_success__confirmation_text %}
                        {{ confirmation_text|raw }}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block container_privacy %}
            <div class="container-privacy container-content-item">
                <span class="icon icon-close"></span>

                <div class="container-content-dynamic">

                </div>
            </div>
        {% endblock %}
    </div>
</div>
